<div>
    <h2>
        <span jhiTranslate="manaProjectApp.techno.home.title">Technos</span>
        <button class="btn btn-create float-right jh-create-entity create-techno" [routerLink]="['/', { outlets: { popup: ['techno-new'] } }]">
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="technos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manaProjectApp.techno.title">Title</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let techno of technos ;trackBy: trackId">
                <td><a [routerLink]="['../techno', techno.id ]">{{techno.id}}</a></td>
                <td>{{techno.title}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../techno', techno.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye fa-lg"></span>
                            
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'techno/'+ techno.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil fa-lg"></span>
                            
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'techno/'+ techno.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash fa-lg"></span>
                            
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
