<div class="row">
    <div class="col-md-12 text-center project-title">
        <h1 class="display-4" jhiTranslate="project.title"></h1><span class="title-mana" jhiTranslate="project.title-mana"></span><span class="title-project" jhiTranslate="project.title-project"></span>
        <!-- <div [ngSwitch]="isAuthenticated()"> 
            <div class="alert alert-success col-md-3" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="project.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
        </div>-->
    </div>
    <!-- Switch -->
    <div [ngSwitch]="isAuthenticated()" class="col-md-12">
        <!-- Not Log -->
        <div *ngSwitchCase="false" class="col-md-12">
            <div class="col-md-5" id="login">
                <jhi-login-modal></jhi-login-modal>
            </div>
            <div class="col-md-5" id="search-logout">
                <h4 jhiTranslate="project.title-search" class="title-search">Search</h4>
                <div id="search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="{{'project.search' | translate}}" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete>

        <!-- Log -->
        <div *ngSwitchCase="true" class="col-md-12 body-search">
            <div class="col-md-8" id="search-log">
                <h4 jhiTranslate="project.title-search" class="title-search">Search</h4>
                <div id="search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="{{'project.search' | translate}}" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
