
<div *ngIf="project">
    <h2><span jhiTranslate="manaProjectApp.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="ddimg"> 
            <dt><span jhiTranslate="manaProjectApp.project.picture">Picture</span></dt>
            <dd>
                <span *ngIf="project.picture">{{project.picture}}</span>
                <span *ngIf="!project.picture" jhiTranslate="manaProjectApp.project.no-picture">No picture used</span>
            </dd>
        </div>
        <dt><span jhiTranslate="manaProjectApp.project.title">Title</span></dt>
        <dd>
            <span>{{project.title}}</span>
        </dd>
        <dt><span jhiTranslate="manaProjectApp.project.description">Description</span></dt>
        <dd>
            <span>{{project.description}}</span>
        </dd>
        <dt><span jhiTranslate="manaProjectApp.project.manday">Manday</span></dt>
        <dd>
            <span>{{project.manday}}</span>
        </dd>
        <dt><span jhiTranslate="manaProjectApp.project.referent">Referent</span></dt>
        <dd>
            <span>{{project.referent}}</span>
        </dd>
        <!-- <div class="card mb-3 ddimg" #target>
            <div class="card-header">
                <i class="fa fa-pie-chart"></i> Pie Chart Example</div>
            <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div> -->
        <dt><span jhiTranslate="manaProjectApp.project.year">Year</span></dt>
        <dd>
            <span>{{project.year}}</span>
        </dd>
        <dt><span jhiTranslate="manaProjectApp.project.userid">User</span></dt>
        <dd>
            <span>{{project.user?.email}}</span>
        </dd>
    </dl>
 
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <span *ngIf="(currentAccount.lastName === 'System') || (currentAccount.lastName === 'Administrator') || (project.user.id === currentAccount.id)">
        <button type="button" *jhiHasAnyAuthority="'ROLE_PMANAGER'" 
                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil fa-lg"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </span>
</div>
