<div>
    <h2>
        <span jhiTranslate="manaProjectApp.fnDesc.home.title">Fn Descs</span>
        <button class="btn btn-primary float-right jh-create-entity create-fn-desc" [routerLink]="['/', { outlets: { popup: ['fn-desc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="manaProjectApp.fnDesc.home.createLabel">
            Create new Fn Desc
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fnDescs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manaProjectApp.fnDesc.description">Description</span></th>
            <th><span jhiTranslate="manaProjectApp.fnDesc.projectid">Projectid</span></th>
            <th><span jhiTranslate="manaProjectApp.fnDesc.funcneedid">Funneed</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fnDesc of fnDescs ;trackBy: trackId">
                <td><a [routerLink]="['../fn-desc', fnDesc.id ]">{{fnDesc.id}}</a></td>
                <td>{{fnDesc.description}}</td>
                <td>
                    <div *ngIf="fnDesc.projectid">
                        <a [routerLink]="['../project', fnDesc.projectid?.id ]" >{{fnDesc.projectid?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="fnDesc.funcneedid">
                        <a [routerLink]="['../func-need', fnDesc.funcneedid?.id ]" >{{fnDesc.funcneedid?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fn-desc', fnDesc.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fn-desc/'+ fnDesc.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fn-desc/'+ fnDesc.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
