
<div *ngIf="fnDesc">
    <h2><span jhiTranslate="manaProjectApp.fnDesc.detail.title">Fn Desc</span> {{fnDesc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="manaProjectApp.fnDesc.description">Description</span></dt>
        <dd>
            <span>{{fnDesc.description}}</span>
        </dd>
        <dt><span jhiTranslate="manaProjectApp.fnDesc.projectid">Projectid</span></dt>
        <dd>
            <div *ngIf="fnDesc.projectid">
                <a [routerLink]="['/project', fnDesc.projectid?.id]">{{fnDesc.projectid?.title}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="manaProjectApp.fnDesc.funcneedid">funcneedid</span></dt>
        <dd>
            <div *ngIf="fnDesc.funcneedid">
                <a [routerLink]="['/func-need', fnDesc.funcneedid?.id]">{{fnDesc.funcneedid?.title}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <span *ngIf="(currentAccount.lastName === 'System') || (currentAccount.lastName === 'Administrator') || (fnDesc.projectid.user.id === currentAccount.id)">
        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'fn-desc/'+ fnDesc.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil fa-lg"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </span>
</div>
