
/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #354094;
}

.mana {
    color: #4c5cda;
}
.project {
    color:white;
}

.jh-navbar {
    background-color: #00223e;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #003ba7;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #354094;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #4c5cda;
        }
    }
}

#navbar-left {
    position: fixed;
    left: 0px;
    width: 10%;
    height: 100%;
    background-color: #1c2b36;
}

#navbar-left ul {
    margin: 0 !important;
    padding: 0 !important;
    color:white;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-mana.png") no-repeat center center;
            background-size: contain;
        }
    }
}
