<div>
    <h2>
        <span jhiTranslate="manaProjectApp.funcNeed.home.title">Func Needs</span>
        <button class="btn btn-create float-right jh-create-entity create-func-need" [routerLink]="['/', { outlets: { popup: ['func-need-new'] } }]">
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="funcNeeds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manaProjectApp.funcNeed.title">Title</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let funcNeed of funcNeeds ;trackBy: trackId">
                <td><a [routerLink]="['../func-need', funcNeed.id ]">{{funcNeed.id}}</a></td>
                <td>{{funcNeed.title}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../func-need', funcNeed.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye fa-lg"></span>
                            
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'func-need/'+ funcNeed.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil fa-lg"></span>
                            
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'func-need/'+ funcNeed.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash fa-lg"></span>
                            
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
