
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

.home-title {
    margin-bottom: 3%;
}

.title-manaproject {
    display: inline;
}

.title-project, .title-mana {
    font-weight: 500;
    font-size: 3.5rem;
}

.title-mana {
    color: #4c5cda;
}

.display-4 {
    font-weight: 500;
    display: inline;
}

.body-search {
    display: block;
    margin: auto;
    text-align: center;
}

.title-search {
    margin: 2%;
    padding-bottom: 4%;
    text-align: center;
}

#search-logout {
    display: inline-block;
    color: white;
    background-color: #3d4450;
    border: 3px solid #455aff;
    border-radius: 16px;
    padding-bottom: 2%;
    float: right;
}

#search-log {
    display: inline-block;
    color: white;
    background-color: #3d4450;
    border: 3px solid #455aff;
    border-radius: 16px;
    padding-bottom: 2%;
}

#login {
    display: inline-block;
    color: white;
    background-color: #3d4450;
    border: 3px solid #455aff;
    border-radius: 16px;
}

#search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 23px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}


/* ---------------- auto complete -------------------*/
