<div class="row">
    <div class="col-md-12 text-center home-title">
        <h1 class="display-4" jhiTranslate="home.title"></h1><span class="title-mana" jhiTranslate="home.title-mana"></span><span class="title-project" jhiTranslate="home.title-project"></span>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success col-md-3" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
        </div>
    </div>
    <div [ngSwitch]="isAuthenticated()" class="col-md-12">
        <div *ngSwitchCase="false" class="col-md-12">
            <div class="col-md-5" id="login">
                <jhi-login-modal></jhi-login-modal>
            </div>
            <div class="col-md-6" id="search">
                <h4 jhiTranslate="home.title-search">Search</h4>
            </div>
        </div>
        <div *ngSwitchCase="true" class="col-md-12">
            <div class="col-md-8" id="search">
                <h4 jhiTranslate="home.title-search">Search</h4>
            </div>
        </div>
    </div>
</div>
