<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPreRelationshipsLabel" jhiTranslate="manaProjectApp.preRelationships.home.createOrEditLabel">Create or edit a Pre Relationships</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!preRelationships.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="preRelationships.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manaProjectApp.preRelationships.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                [(ngModel)]="preRelationships.number" required />
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manaProjectApp.preRelationships.experienceid" for="field_experienceid">Experienceid</label>
            <select class="form-control" id="field_experienceid" name="experienceid" [(ngModel)]="preRelationships.experienceid" >
                <option [ngValue]="null"></option>
                <option [ngValue]="experienceOption.id === preRelationships.experienceid?.id ? preRelationships.experienceid : experienceOption" *ngFor="let experienceOption of experiences; trackBy: trackExperienceById">{{experienceOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manaProjectApp.preRelationships.roleid" for="field_roleid">Roleid</label>
            <select class="form-control" id="field_roleid" name="roleid" [(ngModel)]="preRelationships.roleid" >
                <option [ngValue]="null"></option>
                <option [ngValue]="roleOption.id === preRelationships.roleid?.id ? preRelationships.roleid : roleOption" *ngFor="let roleOption of roles; trackBy: trackRoleById">{{roleOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manaProjectApp.preRelationships.projectid" for="field_projectid">Projectid</label>
            <select class="form-control" id="field_projectid" name="projectid" [(ngModel)]="preRelationships.projectid" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === preRelationships.projectid?.id ? preRelationships.projectid : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
